<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="de7b2332-2a36-4d48-b156-dd3c01b1c3f2" name="https://test.mobile-api.woolworths.com.au TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="de7b2332-2a36-4d48-b156-dd3c01b1c3f2fileName">https%3A%2F%2Ftest.mobile-api.woolworths.com.au-TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
